$defaultTextColor: (color: "gray", level: 100);
$defaultBackgroundColor: (color: "gray", level: 800);

$variants: ( primary: "pink", secondary: "gray");
$status: (info: "blue", success: "green", warning: "yellow", danger: "red");
